---
- name: Warming up jupyter instance
  gather_facts: no
  hosts: instance_public_ip
  tasks:
    - name: Initial connection block
      block:
        - name: Wait 30 seconds, but only start checking after 5 seconds
          wait_for_connection:
            delay: 5
            timeout: 30
      rescue:
        - name: Disabling prompt for restarting while installing packages
          raw: echo '* libraries/restart-without-asking boolean true' | sudo debconf-set-selections
        - name: Try to install python 2, when ansible is not able to connect
          raw: test -e /usr/bin/python || (apt -y update && apt install -y python)
      become: yes  

- name: Setting up Conda & Jupyter environment
  hosts: instance_public_ip
  vars:
     portal_reference: "{{ lookup('env','PORTAL_DEPLOYMENT_REFERENCE')}}"
     portal_callback_secret: "{{ lookup('env','PORTAL_CALLBACK_SECRET')}}"
     portal_base_url: "{{ lookup('env','PORTAL_BASE_URL')}}"
     ansible_user: "{{lookup('env','ANSIBLE_REMOTE_USER')}}"
     repo_url: "{{ lookup('env','TF_VAR_repo_url') }}"
     conda_environment: "{{ lookup('env','TF_VAR_conda_environment') }}"
     conda_environment_file_path: "{{ lookup('env','TF_VAR_conda_environment_file_path') }}"
     python_version: "{{ lookup('env','TF_VAR_python_version') }}"
     package_install: "{{ lookup('env','TF_VAR_package_install') }}"
     post_install: "{{ lookup('env','TF_VAR_post_install') }}"
  become: yes
  become_user: "{{lookup('env','ANSIBLE_REMOTE_USER')}}"
  roles:
    - conda
    - role: evandam.conda
    - biobb
    - role: jupyter

  tasks:
    - name: Make sure the user key is authorized on the Jupyter server instance
      become: yes
      authorized_key: user="{{lookup('env','ANSIBLE_REMOTE_USER')}}" key="{{lookup('env','ssh_key')}}" exclusive=no state=present

     
    
